VITE_API_URL=http://localhost:5000/api
##STRIPE (pasarela de pagos)
VITE_STRIPE_PUBLIC_KEY=pk_test_TU_PUBLIC_KEY

#TWILIO (envio de SMS)
TWILIO_SID=AC_tu_account_sid
TWILIO_TOKEN=tu_auth_token
TWILIO_PHONE=+15551234567